.indented{
	text-indent: 30pt;
}
.content{
	padding: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: gray;
	margin: 5px;
	background-repeat: round;
	text-align: left;
}
<<<<<<< HEAD
=======
nav{
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}
>>>>>>> 8252785d06032796f3355efa7c19ad117b24fd6a
