<!DOCTYPE html>
<html lang="en" class="style">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 2 meta tags should come first in the head; any other head content should come *after* these tags -->

    <!-- Bootstrap -->

    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>Wind Turbine Data</title>
  
  </head>
  <body>
    <!--nav bar-->
    <!--nav bar-->
   <nav class="navbar navbar-expand-sm bg-warning navbar-light">
     <a class="navbar-brand" href="#">Wind Turbines</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="collapsibleNavbar">
       <ul class="navbar-nav">
         <li class="nav-item, active">
           <a class="nav-link" href="#">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="state.html">By State</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="rotor.html">By Rotor Size</a>
         </li>
		 <li class="nav-item">
           <a class="nav-link" href="year.html">By Year</a>
         </li>
		 <li class="nav-item">
           <a class="nav-link" href="height.html">By Height</a>
         </li>
       </ul>
     </div>
   </nav>
    <div class="content">
    <!--page content-->
	<h1>Wind Turbine Data</h1>
	
	<p class="indented">This CORGIS Dataset I used is on all of the commercial wind power plants in the United States.  Each wind turbine is recorded with many statistics about it including its power generated, height, turbine diameter, position, year it became operational, and many other facts.  These statistics can be used to review the data and figure out how wind turbine efficiency has increased over time as well as other statistics we are able to measure.</p>
	<p class="indented">According to the website that CORGIS got its data, the <a href="https://www.sciencebase.gov/catalog/item/57bdfd8fe4b03fd6b7df5ff9">United States Wind Turbine Database</a>, almost all of the wind turbines recorded are utility scale, which means that they generate power that is fed right into the grid.  They don’t record small or single wind turbines, but any big turbine operation should be recorded.  This is still very helpful when researching how turbine output changes based on different types and sizes of turbines.</p>
	<p class="indented">I am very curious to find out more facts about how wind turbine size affects power generated, how power generation per turbine increased over the years, and many other statistics about turbines.  This JSON file is important to understanding the future of energy: wind power.</p>
  
  	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
